{% extends 'base.html.twig' %}

{% block container %}
	<h1>Liste des maitres inscrits</h1>

	<table>
		<thead>
			<tr>
				<th>Nom et Prénom du Maitre</th>
				<th>Date de naissance</th>
				<th>Ville</th>
				<th>Mail</th>
				<th>Téléphone</th>
			</tr>
		</thead>
		<tbody>
			{% for maitre in maitres %}
				<tr>
					<td>{{ maitre.nom ~ ' '~ maitre.prenom }}</td>
					<td>{{ maitre.dateNaissance | date("d/m/Y") }}</td>
					<td>{{ maitre.ville }}</td>
					<td>{{ maitre.mail }}</td>
					<td>{{ maitre.telephone }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
