{% extends 'base.html.twig' %}

{% block container %}
	<h1 class="text-center">Liste des Maîtres inscrits</h1>

	<a href="{{ path('maitre_add') }}">Ajouter un nouveau maitre</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom et Prénom des Maitres</th>
				<th scope="col">Ville</th>
				<th scope="col">Chien(s)</th>
			</tr>
		</thead>
		<tbody>
			{% for maitre in maitres %}
				<tr>
					<td>
						<a href="{{ path('maitre_show', {'id': maitre.id}) }}">{{ maitre.nom ~ ' '~ maitre.prenom }}</a>
					</td>
					<td>{{ maitre.ville }}</td>
					{# <td>{{ maitre.chien.nom }}</td> #}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
