{% extends 'base.html.twig' %}

{% block title %}Liste des formations
{% endblock %}

{% block container %}
	<h1 class="text-center">Liste des Formations</h1>
	<p>Cliquez sur une formation pour avoir plus d'informations.</p>

	{# table formations #}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Intitulés des formations</th>
				<th scope="col">Description</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for formation in formations %}
				<tr>
					<td>
						<a href="{{path('formation_show', {'id': formation.id} )}}">{{ formation.nom |capitalize }}</a>
					</td>
					<td>
						<p class="descriptionInTable">
							{{ formation.description }}
						</p>
					</td>
					<td>
						<a href="{{ path('formation_edit', {id: formation.id}) }}">Editer</a>
					</td>
					<td>
						<a href="{{ path('formation_delete', {id: formation.id}) }}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# button #}
	<button class="btn btn-primary">
		<a href="{{ path('formation_add') }}" style="color:white; text-decoration: none;">Ajouter une formation</a>
	</button>
{% endblock %}
