{% extends 'base.html.twig' %}

{% block title %}Liste des formations
{% endblock %}

{% block container %}
	<h1 class="text-center">Liste des Formations</h1>
	<a href="{{ path('formation_add') }}">Ajouter une formation</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Intitulés des formations</th>
				<th scope="col">Description</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for formation in formations %}
				<tr>
					<td>{{ formation.nom }}</td>
					<td>{{ formation.description }}</td>
					<td>
						<a href="{{ path('formation_edit', {id: formation.id}) }}">Editer</a>
            <a href="{{ path('formation_delete', {id: formation.id}) }}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
