{% extends "base.html.twig" %}

{% block title %}Formation
{% endblock %}

{% block container %}
	{% if editMode %}
		<h1>Modifier une formation</h1>
	{% else %}
		<h1>Ajout d'une nouvelle formation</h1>
	{% endif %}

	{# simplement afficher le formulaire #}
	{# {{ form(formAddFormation) }} #}

	{# début du contenu du formulaire #}
	{{form_start(formAddFormation)}}

	{{form_row(formAddFormation.nom)}}
	{{form_row(formAddFormation.description)}}
		<ul id="users" data-prototype="{{ form_row(formAddFormation.users.vars.prototype)|e }}"> {% for user in formAddFormation.users %}
			<li class="user">
				{{ form_row(user) }}
			</li>
		{% endfor %}

	</ul>

	{# submit button #}
	<button type="submit" class="btn btn-outline-primary">
		{% if editMode %}
			Modifier
		{% else %}
			Ajouter
		{% endif %}
	</button>

	{# fin du formulaire #}
	{{form_end(formAddFormation)}}

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="/js/collectionHandlerFormation.js"></script>
{% endblock %}
