{% extends 'base.html.twig' %}

{% block title %}Formation
{% endblock %}

{% block container %}
	<h1>Informations sur la Formation</h1>

	<article>
		<h2>{{ formation.nom |capitalize }}</h2>
		<div class="flex">
			<div class="col-5">
				<img src="{{ asset('img/' ~ formation.img) }}" alt="photo formation pour chien">
			</div>
			<div class="col-7">
				<p class="text-justify">{{ formation.description |capitalize }}</p>
				<p>
					<strong>
						Intervenants pour cette formation :
					</strong>
				</p>
				<ul>
					{% for user in formation.users %}
						<li>{{ user.prenom |capitalize ~ ' ' ~ user.nom |capitalize }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</article>

	<h2>Sessions</h2>
	{# sessions #}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Code #</th>
				<th scope="col">Places</th>
				<th scope="col">Places restantes</th>
				<th scope="col">Date début</th>
				<th scope="col">Date fin</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for session in formation.sessions %}
				<tr>
					<td>{{ session.id }}</td>
					<td>{{ session.nbPlace }}</td>
					<td>{{ session.nbPlace - session.chien |length }}</td>
					<td>{{ session.dateDebut | date('d-m-Y') }}</td>
					<td>{{ session.dateFin | date('d-m-Y') }}</td>
					<td scope="row">
						<a href="{{path('session_show', {'id': session.id} )}}">Voir les détails
							<i class="fas fa-arrow-right"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# buttons #}
	{% if is_granted("ROLE_ADMIN") %}
		<button class="btn btn-primary">
			<a href="{{ path('session_add') }}" style="color:white; text-decoration: none;">Ajouter une Session</a>
		</button>
		<button class="btn btn-primary">
			<a href="{{ path('formation_edit', {id: formation.id}) }}" style="color:white; text-decoration: none;">Modifier la formation</a>
		</button>
	{% endif %}
{% endblock %}
