{% extends 'base.html.twig' %}

{% block title %}Session
{% endblock %}

{% block container %}
	<h1>Les Ateliers de la Session de Formation</h1>
	<p>Ajouter un ou plusieurs ateliers à une session ou modifier les selon vos besoins.</p>

	{# simplement afficher le formulaire #}
	{# {{ form(formAddAteliers) }} #}

	{# début du contenu du formulaire #}
	{{form_start(form)}}

		<ul id="gestionDurees" data-prototype="{{ form_row(form.programmers.vars.prototype)|e }}"> {% for atelier in form.programmers %}
			<li class="gestionDuree">
				{{ form_row(atelier) }}
			</li>
		{% endfor %}

	</ul>
	{# submit button #}
	<button type="submit" class="btn btn-outline-primary">
		Envoyer
	</button>

	{# fin du formulaire #}
	{{form_end(form)}}

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="/js/collectionHandlerDuree.js"></script>
{% endblock %}
