{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

	{% block container %}

		<h2>Bonjour {{ actual }}</h2>

	<a href="{{ path('user_add') }}">Ajouter un utilisateur</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Adresse mail</th>
				<th scope="col">Rôle</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.nom}}</td>
					<td>{{ user.prenom}}</td>
					<td>{{ user.username}}</td>
					<td>{{ user.roles[0]}}</td>
				</tr>
			{% endfor %}

	{% endblock %}
