{% extends 'base.html.twig' %}

{% block title %}Liste des sessions de formation
{% endblock %}

{% block container %}
	<h1 class="text-center">Liste des Sessions</h1>

	<p>Cliquez sur une session pour inscrire des nouveaux participants ou avoir plus d'informations.</p>

	<a href="{{ path('session_add') }}">Ajouter une session</a>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Formation</th>
				<th scope="col">Places restantes</th>
				<th scope="col">Date de début</th>
				<th scope="col">Date de fin</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for session in sessions %}
				<tr>
					<td scope="row">
						<a href="{{path('session_show', {'id': session.id} )}}">{{ session.formation.nom |capitalize }}</a>
					</td>
					<td>{{ session.nbPlace - session.chien |length }}</td>
					<td>{{ session.dateDebut | date('d-m-Y') }}</td>
					<td>{{ session.dateFin | date('d-m-Y') }}</td>
					<td>
						<a href="{{ path('session_edit', {id: session.id}) }}">Editer</a>
					</td>
					<td>
						<a href="{{ path('session_delete', {id: session.id}) }}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
