{% extends 'base.html.twig' %}

{% block title %}Informations sur la Session
{% endblock %}

{% block container %}
	<h1>Informations sur la Session de Formation</h1>

	{# détails #}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom de la Formation</th>
				<th scope="col">Places</th>
				<th scope="col">Places restantes</th>
				<th scope="col">Date de début</th>
				<th scope="col">Date de fin</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ session.formation.nom |capitalize }}</td>
				<td>{{ session.nbPlace }}</td>
				<td>{{ session.nbPlace - session.chien |length }}</td>
				<td>{{ session.dateDebut | date('d-m-Y') }}</td>
				<td>{{ session.dateFin | date('d-m-Y') }}</td>
				<td>
					<a href="{{ path('session_edit', {id: session.id}) }}">Editer</a>
				</td>
			</tr>
		</tbody>
	</table>

	{# programme #}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Code #</th>
				<th scope="col">Atelier</th>
				<th scope="col">Nombre de jours</th>
			</tr>
		</thead>
		<tbody>
			{% for programme in session.programmers %}
				<tr>
					<td>{{programme.id}}</td>
					<td>{{programme.atelier.libelle}}</td>
					<td>{{programme.duree}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button class="btn btn-primary">
		<a href="{{path('addAtelierToSession', {id: session.id})}}" style="color:white; text-decoration: none;">Programmer</a>
	</button>

	{# participants #}
	<table class="table" style="margin-top: 25px;">
		<thead>
			<tr>
				<th scope="col">Chiens inscrits</th>
				<th scope="col">Maîtres</th>
			</tr>
		</thead>
		<tbody>
			{% for chien in session.chien %}
				<tr>
					<td>{{ chien.nom }}</td>
					<td>{{ chien.maitre }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button class="btn btn-primary">
		<a href="{{ path('session_edit', {id: session.id}) }}" style="color:white; text-decoration: none;">Modifier la session</a>
	</button>
{% endblock %}
