{% extends 'base.html.twig' %}

{% block title %}Informations sur la session
{% endblock %}

{% block container %}
	<h1>Informations sur la session</h1>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Formation</th>
				<th scope="col">Places</th>
				<th scope="col">Date de début</th>
				<th scope="col">Date de fin</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ session.formation.nom |capitalize }}</td>
				<td>{{ session.nbPlace }}</td>
				<td>{{ session.dateDebut | date('d-m-Y') }}</td>
				<td>{{ session.dateFin | date('d-m-Y') }}</td>
				<td>
					<a href="{{ path('session_edit', {id: session.id}) }}">Editer</a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
