{% extends 'base.html.twig' %}

{% block title %}Listes des chiens
{% endblock %}

{% block container %}
	<h1 class="text-center">Liste des Chiens inscrits</h1>
	<a href="{{ path('chien_add') }}">Ajouter un chien</a>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom du chien</th>
				<th scope="col">Maitre</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for chien in chiens %}
				<tr>
					<td>
						<a href="{{ path('chien_show', {'id': chien.id}) }}">{{ chien.nom |capitalize }}</a>
					</td>
					<td>{{ chien.maitre.prenom |capitalize ~ ' '~ chien.maitre.nom |capitalize }}</td>
					<td>
						<a href="{{ path('chien_edit', {id: chien.id}) }}">Editer</a>
					</td>
					<td>
						<a href="{{ path('chien_delete', {id: chien.id}) }}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
