{% extends 'base.html.twig' %}

{% block title %}Informations sur le chien
{% endblock %}

{% block container %}
	<h1>Informations sur le chien</h1>
	{# ajouter photo, race, date de naissance, age #}

	{# chiens #}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom du chien</th>
				<th scope="col">Maitre</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ chien.nom |capitalize }}</td>
				<td>{{ chien.maitre.prenom |capitalize ~ ' '~ chien.maitre.nom |capitalize }}</td>
			</tr>
		</tbody>
	</table>

	{# sessions #}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Intutilé de la Formation</th>
				<th scope="col">Date début</th>
				<th scope="col">Date fin</th>
			</tr>
		</thead>
		<tbody>
			{% for session in chien.sessions %}
				<tr>
					<td>{{ session.formation.nom }}</td>
					<td>{{ session.dateDebut | date('d-m-Y') }}</td>
					<td>{{ session.dateFin | date('d-m-Y') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button class="btn btn-primary">
		<a href="#" style="color:white; text-decoration: none;">Inscrire à une formation</a>
	</button>
{% endblock %}
