<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
			<link
			rel="stylesheet" href="{{ asset('css/style.css') }}">
		{# asset => goes to "public" folder #}
		{% endblock %}

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
			<script src="{{ asset('js/app.js')}}"></script>
		{% endblock %}
	</head>

	<body>
		{% block body %}

			{# header #}
			<header>
				{# navbar #}
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="{{path('home')}}">
						Dog
						<img class="logo" src="{{ asset('img/coeur.png') }}" alt="logo">
						Academy
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="{{path('home')}}">Accueil
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('formations_index')}}">Les formations</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('sessions_index')}}">Les sessions</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('ateliers_index')}}">Les ateliers</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Les inscriptions
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{{path('maitres_index')}}">Maîtres inscrits</a>
									<a class="dropdown-item" href="{{path('chiens_index')}}">Chiens inscrits</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Formateurs et intervenants</a>
								</div>
							</li>
						</ul>
						<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="search" placeholder="Chien policier" aria-label="Search">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
						</form>
					</div>
				</nav>
				<figure class="bannerFigure">
					<img class="banner" src="{{ asset('img/banner.jpg') }}" alt="banner">
					<figcaption class="figcaptionBanner">
						<span class="logoSpan">DogAcademy</span>
						<br>
						<em>
							Des formations assez dignes pour le meilleur ami de l'homme.
						</em>
					</figcaption>
				</figure>
			</header>
			{# container #}
			<div class="container">
				{% block container %}{% endblock %}
			</div>

			<footer>
				Terence Mathieu & Béatrice Machalica | Dog Academy | 2021 Mentions légales
			</footer>
		{% endblock %}
	</body>
</html>
