{% extends 'base.html.twig' %}

{% block title %}Compte
{% endblock %}

{% block container %}

	{# <h2>Bonjour {{ actual }}</h2> #}
	<h2>Bienvenue sur votre compte,
		{{app.user.prenom |capitalize }}
	</h2>

	{# informations #}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Adresse mail</th>
				<th scope="col">Rôle</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ app.user.nom |capitalize}}</td>
				<td>{{ app.user.prenom |capitalize}}</td>
				<td>{{ app.user.email}}</td>
				<td>{{ app.user.roles[0]}}</td>
				<td>
					<a href="{{path('user_edit', {id: app.user.id})}}">Modifier</a>
				</td>
			</tr>
		</tbody>
	</table>

	{# button(s) #}
	<button class="btn btn-primary" style="margin:20px 0 20px 0;">
		<a href="#" style="color:white; text-decoration: none;">Modifier le mot de passe</a>
	</button>

	<h2>Vos prochaines sessions de formations</h2>
	{# sessions #}
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Nom de la Formation</th>
				<th scope="col">Code de la session</th>
				<th scope="col">Date de début</th>
				<th scope="col">Date de fin</th>
			</tr>
		</thead>
		<tbody>
			{% for formation in app.user.formations %}
				{% for session in formation.Sessions %}
					<tr>
						<td>{{ formation.nom |capitalize }}</td>
						<td>{{ session.id }}</td>
						<td>{{ session.dateDebut | date('d-m-Y') }}</td>
						<td>{{ session.dateFin | date('d-m-Y') }}</td>

					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
